.contactContainer {
    height: 100vh;
    /* background-color: rgba(20, 0, 0, 0.2); */
}


.contactContainer ul {
    height: 100vh;
    color: transparent;
    -webkit-text-stroke: 1px white;
    display: flex;
    align-items: end;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    font-size: clamp(2rem, 0.6624rem + 6.1146vw, 8rem);
    font-family: "Metal";
}

.contactContainer ul li {
    cursor: pointer;
    width: 100vw;
    padding: 4% 2%;
    opacity: 0.9;
    text-align: end;
    &:hover {
        background-color: white;
        color: rgb(65, 0, 0);
    }
}

/* .contactContainer ul li:nth-child(2) {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
} */


@media  screen and (max-width: 1280px) {

    .contactContainer ul {
        height: 80vh;

  }
}
  
  @media  screen and (max-width: 900px) {
    .contactContainer ul {
        height: 60vh;

  }

  }
  
  @media  screen and (max-width: 480px) {
    .contactContainer {
        height: 50vh;
    }
    .contactContainer ul {
        align-items: center;

  }
  .contactContainer ul li {
   text-align: center;
    border-bottom: 1px solid white;
  }
  .contactContainer ul li:nth-child(2) {
    border-bottom: 1px solid white;
    border-top: 0px solid white;
}
  }