.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navList {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}


.bar {
    /* width: 25px; */
    transition: transform 0.5s ease;
}

.bar:nth-child(1) {
    border-bottom: 3px solid #803b3b;
   margin-left: 30%;
}
.bar:nth-child(2) {
    border-bottom: 3px solid #803b3b;
}
.bar:nth-child(3) {
    margin-right: 30%;
    border-bottom: 3px solid #803b3b;
}

.open:nth-child(1) {
    transform: rotate(45deg) translate(6px, 18px);
}
.open:nth-child(2) {
    transition: all 0.5s ease;
    transform: translate(12px, 10px) rotate(180deg);
    overflow: hidden;
    opacity: 0;
    
}
.open:nth-child(3) {
    transform: rotate(-45deg) translate(0px, 2.5px);
}
.navcontent {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: wheat;
}

