.runesContainer {
    display: flex; /* Centrage vertical */
    white-space: nowrap;
    position: relative;
  }
  
  .runesContainer h1 {
    font-family: var(--secondaryfont);

    -webkit-text-stroke: 0px white;
    text-transform: uppercase;
    font-size: clamp(5rem, 3.8854rem + 5.0955vw, 10rem);
    margin: 0 10px; /* Espacement entre les runes */
  }