.paragraph {
    font-family: var(--primaryfont);
    width: 50%;
font-size: clamp(0.0625rem, -0.5924rem + 2.9936vw, 3rem);
    margin-left: var(--margin-horizontal);
    margin-right: var(--margin-horizontal);
    display: flex;
    flex-wrap: wrap;
    
}

 .word{
        position: relative;
        margin-right: 12px;
        margin-top: 12px;
        

}
.shadow{
    position: absolute;
    opacity: 20%;
  }

  .runes {
    overflow: hidden;
  }

  @media screen and (max-width: 480px) {
    .paragraph {

      justify-content: center;

      width: 100%;
      overflow: hidden;
    }
  }