.littleaboutcontainer {
    color: white;
    position: relative;
    /* overflow-x: hidden; */
 
}

.littleaboutcontainer section{
    /* margin: 10% 0%; */
    overflow: hidden;
    margin-top: 10%;
     padding-left: var(--margin-horizontal);
     padding-right: var(--margin-horizontal);
   ;

}


.littleaboutcontainer section:nth-child(1) {
    animation: appear linear;
    animation-timeline: view();
    animation-range-end: 800px;

}

.getout {
    position: sticky;
    top: 0;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    animation: appear;
    animation-timeline: view();
    animation-range-end: 1100px;
}

.getout span{
    opacity: 0;
}

.artist {
    margin-top: 4%;
    font-size: clamp(2rem, 1.3312rem + 3.0573vw, 5rem);
    text-transform: uppercase;
    font-family: var(--secondaryfont);
    color: transparent;
    -webkit-text-stroke: 1px white;

}

@keyframes appear{
    from {
        rotate: 10deg;
        scale: 0;
        opacity: 0;
    }
    to {
        rotate: 0;
        scale: 1;
        opacity: 1;
    }
}



.splinecrane {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:-200px;
    z-index: 1;
    overflow: hidden;
    opacity: 0.9;

}

.runes {
    opacity: 1;
    scale: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    animation: ss;
    animation-timeline: view();
    animation-range-start: 200px;

}

@keyframes ss {
    to {
        opacity: 0;
    }
}


.littleaboutcontainer section:last-child {
    height: 100vh;
} 




.list {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;

}
.testdefou {
    column-count: 3;
    object-fit: cover;
    width: 40vw;
}

.divbtngalerie {
    position: relative;
    z-index: 2;
    width: 40vw;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    align-items: center;
    /* padding: 4% 10%; */
    background-color: #000000;
    cursor: pointer;
    gap: 25px;
}
.divbtngalerie a {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-decoration: none;
}

.btnGalerie {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-family: var(--secondaryfont);
    letter-spacing: 2px;
font-size: clamp(1.4rem, 0.3745rem + 4.6879vw, 6rem);
    justify-content: start;
    margin: 6% 0%;
    cursor: pointer;


}

.divbtngalerie .spanHover{
    font-family: var(--decofont);
    font-size: 0;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.divbtngalerie:hover .spanHover {

    animation: reveal 1s forwards;
}

@keyframes reveal {
    from {
        font-size: 0;
    }
    to {
        font-size: clamp(2rem, 1.3312rem + 3.0573vw, 5rem);
    }
}

.list img {
    width: 100%;
    margin-bottom: 1em;
    object-fit: cover;
}


@keyframes rotateanim {
    from {
        transform: rotate(0deg);
        scale: 1;
        
    }
    to {
        transform: rotate(180deg);
        scale: 2;
    };
    
}

.animphoto {
     position: sticky;
    top: 60px;
    margin-top: -30%;
    display: flex;
    justify-content: end;
    z-index: -1;
}
.widthphoto {

    display: flex;
    justify-content: center;
    width: 45vw;
}
.photoarigato {
    height:250px;
    width:250px;
    overflow: hidden;
    animation: rotateanim 1s linear;
    animation-timeline: view();
}


.deuxiemeparagraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #000000;
    animation: appear;
    animation-timeline: view();
    animation-range-end: 1100px;
    z-index: 2;
}

.deuxiemeparagraph p {
    width: 45vw;
}

.parallaxContainer {

    height: 100vh;


    
}
/* @keyframes scaleimage {
    from{

        scale: 1;

    }
    to {
        scale: 4;
    }
}  */
.sectionBtnAbout {
    /* height: 100vh;
    position: sticky;
    top: 40%; */
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    z-index: 2;
    top: 40vh;
}
.divBtnAbout {
    width: 40vw;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    align-items: center;
    /* padding: 4% 10%; */
    background-color: #000000;
    cursor: pointer;
    gap: 25px;
    z-index: 9999;
    position: relative;

}

.divBtnAbout a {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-decoration: none;
}


.btnAbout{

    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-family: var(--secondaryfont);
    letter-spacing: 2px;
font-size: clamp(1.4rem, 0.3745rem + 4.6879vw, 6rem);
    justify-content: start;
    margin: 6% 0%;
    cursor: pointer;
}

.divBtnAbout .spanHover {
    font-family: var(--decofont);
    font-size: 0;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.divBtnAbout:hover .spanHover {

    animation: reveal 1s forwards;
}


@media  screen and (max-width: 1280px) {

    .animphoto {
        margin-top: -22%;
    }
    .photoarigato {
        height:110px;
        width:120px;
    }
  }

  
  @media  screen and (max-width: 900px) {

    .animphoto {
        margin-top: -24%;
    }
    .photoarigato {
        height:80px;
        width:80px;
    }
  }
  
  @media  screen and (max-width: 900px) {
    .testdefou {
        column-count: 3;
        object-fit: cover;
        width: 100vw;
    
        z-index: 3;
    }
    .splinecrane {
        display: none;
    }
    .animphoto {
        display: none;
    }
.getout {
    width: 100vw;
}
    .animPhotoDiv {
        height: 30vh;
    }

    .divbtngalerie {
        width: 100%;
        justify-content: center;
        z-index: 3;
    }
    .divbtngalerie .spanHover{
        display: none;
    }
    .divBtnAbout .spanHover{
        display: none;
    }
    .littleaboutcontainer section:nth-child(1) {
        text-align: center;
        height: 50vh;
    }

    .deuxiemeparagraph p {
        width: 100%;
    }

    .deuxiemeparagraph {
        text-align: center;
    }
    .sectionBtnAbout {
        justify-content: center;
    }
 
  }
