.vikingcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range-end: 800px;
    color: transparent; /* Texte transparent */
    -webkit-text-stroke: 2px white;
    height: 100vh;

}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.vikingcontent img {
    object-fit: cover;
    border-radius: 50px;
}

.mask, .body{
    width: 100%;
    height: 100%;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 6.5rem;
}

.mask {
    padding-top: 20px;
    -webkit-mask-image: url("../assets/mask.svg");
    mask-image: url("../assets/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    font-family: var(--thirdfont);
    background: #ffffff;
    position: absolute;
    color: transparent; /* Texte transparent */
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.mask span {
    color: transparent; /* Texte transparent */
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    background-color: rgb(74, 1, 1);
    padding: 0 1%;
}

.mask h2:nth-child(even){
    text-align: end;
}

.numeroun, .numerodeux, .numerotrois {
    display: flex;
    justify-content: space-between;
    align-items: center;
}