@font-face {
  font-family: "Deutsch";
  src: url("./fonts/Deutsch.ttf") format(truetype);
}
@font-face {
  font-family: "Rosehot";
  src: url("./fonts/Crucial-Medium.otf") format(truetype);
}
@font-face {
  font-family: "Metal";
  src: url("./fonts/Metal\ Lord.otf") format(truetype);
}

@font-face {
  font-family: "Deco";
  src: url("./fonts//IMFeFlow2.ttf") format(truetype);
}

@font-face {
  font-family: "Decobtn";
  src: url("./fonts//LimeBlossomCaps.ttf") format(truetype);
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Light.ttf") format(truetype);
}
@font-face {
  font-family: "RalewayB";
  src: url("./fonts/Raleway-Medium.ttf") format(truetype);
}

:root {
 --fonttitle: "Metal";
 --secondaryfont: "Deutsch";
 --thirdfont: "Raleway";
 --thirdbold: "RalewayB";
 --decofont: "Deco";
 --decobtnfont: "Deco";
 --margin-horizontal: 3%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}



h1 {
  font-family: var(--fonttitle);
  font-weight: 100;
  font-size: clamp(3rem, 0.5478rem + 11.2102vw, 14rem);
  background: linear-gradient(to right, 
  rgb(66, 0, 0),
  rgb(78, 0, 0) 40%,
  #ff3838 45%,
  #ec2424  55%,
  rgb(78, 0, 0) 70%,
  rgb(66, 0, 0)
);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradientMove 5s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}


p {
  font-size: clamp(0.8rem, 0.6662rem + 0.6115vw, 1.4rem);
  font-family: var(--thirdbold);
  color: white;
}
h3 {
  font-size: clamp(4rem, 2.6154rem + 6.1538vw, 10rem);
  font-family: var(--secondaryfont);
  color: transparent;
  font-weight: 100;
  -webkit-text-stroke: 1px white;
  text-transform: uppercase;
}


ul {
  font-family: var(--thirdbold);
}

footer {
  position: relative;
  z-index: 2;
}

/* @media  screen and (max-width: 1600px) {
  img {
    width: 80%;
  }
} */

@media  screen and (max-width: 1280px) {
  img {
    height: 70%;
  }
}
@media  screen and (max-width: 1000px) {
  img {
    height: 50%;
  }
}

@media  screen and (max-width: 600px) {
  img {
    height: 40%;
  }
}
@media  screen and (max-width: 480px) {
  img {
    height: 25%;
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

