@font-face {
  font-family: "Deutsch";
  src: url("./fonts/Deutsch.ttf") format(truetype);
}
@font-face {
  font-family: "Rosehot";
  src: url("./fonts/Rosehot.ttf") format(truetype);
}
@font-face {
  font-family: "Metal";
  src: url("./fonts/Metal\ Lord.otf") format(truetype);
}

:root {
 --fonttitle: "Metal";
 --secondaryfont: "Deutsch";
 --thirdfont: "Rosehot";
 --margin-horizontal: 2%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: var(--fonttitle);
  font-weight: 100;
  font-size: clamp(6rem, 4.2166rem + 8.1529vw, 14rem);
  background: linear-gradient(to right, 
  black 0%,
  rgb(41, 0, 0) 40%,
  #803b3b 50%,
  #8d2b2b  55%,
  rgb(87, 0, 0) 70%,
  black 100%
);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradientMove 7s linear infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

p {
  font-size: clamp(1rem, 0.9108rem + 0.4076vw, 1.4rem);
  font-family: var(--thirdfont);
  color: white;
}

ul {
  font-family: var(--secondaryfont);
}
