.container {
  background-image: url("./assets/backmath.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}

.sectioncontent {
  margin-left: var(--margin-horizontal);
  margin-right: var(--margin-horizontal);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainpage {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.subtitle {
  display: flex;
  justify-content: space-between;
}

.subtitle span {
  font-size: 16rem;
  font-family: var(--secondaryfont);
  margin-top: -10%;
  color: transparent; /* Texte transparent */
  -webkit-text-stroke: 2px white; /* Contour blanc */
}
.reso {
  display: flex;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  gap: 200px;
  cursor: pointer; 
}

.footermain {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.imagefootermain {
  display: flex;
  color: white;
  font-family: var(--thirdfont);
  gap: 50px;
}

.hoverImage{
  position: absolute;
  width: 300px; /* Ajuste la taille de l'image */
  height: auto;
  rotate: 20deg;
  pointer-events: none; /* Permet d'interagir avec d'autres éléments sous l'image */
  opacity: 0; /* Masque l'image par défaut */
  transition: opacity 0.3s ease; /* Animation de transition pour l'opacité */
}
.animhover{
  cursor: none;
  margin-top: 10%;
}
.animhover:hover .hoverImage {
  opacity: 0.8; /* Affiche l'image au survol */
}

.imagetext {
  position: relative;
}

.imagetext h2 {
  font-size: 1.8rem;
 position: fixed;
 margin-top: -1%;
 text-transform: uppercase;
 font-family: var(--secondaryfont);
 font-weight: 100;
}

.imagetext img {
  margin-left: 10%;
  border-radius: 5%;
}