.container {
  background-image: url("./assets/backmath.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.sectioncontent {
  height: 100vh;
  margin-left: var(--margin-horizontal);
  margin-right: var(--margin-horizontal);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainpage {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.subtitle {
  display: flex;
  justify-content: space-between;
}

.subtitle span {
  font-size: clamp(4rem, 1.2308rem + 12.3077vw, 16rem);
  font-family: var(--secondaryfont);
  margin-top: -10%;
  color: transparent; /* Texte transparent */
  -webkit-text-stroke: 2px white; /* Contour blanc */
}
.reso {
  display: flex;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  gap: 200px;
  cursor: pointer; 
}

.footermain {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.imagefootermain {
  display: flex;
  color: white;
  font-family: var(--thirdfont);

}

.hoverImage{
  position: absolute;
  width: 15vw; /* Par exemple */
/* Ajuste la taille de l'image */
  height: auto;
  rotate: 20deg;
  pointer-events: none; /* Permet d'interagir avec d'autres éléments sous l'image */
  opacity: 0; /* Masque l'image par défaut */
  transition: opacity 0.3s ease; /* Animation de transition pour l'opacité */
}
.animhover{
  cursor: none;
  margin-top: 10%;
}
.animhover:hover .hoverImage {
  opacity: 0.8; /* Affiche l'image au survol */
}

.imagetext{
  display: flex;
  mix-blend-mode:multiply;
  /* filter:; */
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  color: #803b3b;
  cursor: pointer;
 font-size: 5rem;
 font-weight: 900;
 margin-top: -1%;
 text-transform: uppercase;
 font-family: var(--secondaryfont);
 font-weight: 100;
 overflow: hidden;
 transition: all 0.2s linear;
}

.imagetext:nth-child(1){
  width: 18%;
}
.imagetext:nth-child(3){
  width: 18.5%;
}

.imagetext:nth-child(1):hover {
  width: 40%;
  overflow: visible;
}
.imagespan p{
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  mix-blend-mode:multiply;
    color: #803b3b;

}

.imagetext:nth-child(3):hover {
  width: 60%;
  overflow: visible;
}
/* .imagefootermain {
  font-size: 8rem;
  font-family: var(--secondaryfont);
} */


@media  screen and (max-width: 1280) {
  .hoverImage {
    display: none;
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}