/* .container {
  background-image: url("./assets/mathbg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

} */

.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  z-index: -2;
  overflow: hidden;
  opacity: 0.5;
}

.videoBackground video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Remplit le conteneur tout en gardant les proportions */
}

.sectioncontent {
  height: 100vh;
  margin-left: var(--margin-horizontal);
  margin-right: var(--margin-horizontal);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.mainpage {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.svgposition {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: -1;
}
.subtitle {
  display: flex;
  justify-content: space-between;
  animation: startanim 1s forwards;

}

.subtitle span {
  font-size: clamp(2rem, 1.2308rem + 12.3077vw, 16rem);
  font-family: var(--secondaryfont);
  margin-top: -10%;
  color: transparent; /* Texte transparent */
  -webkit-text-stroke: 2px white; /* Contour blanc */
  animation: startanim 1s forwards;
  animation-delay: 1.4s;

}
.reso {
  padding-top: 5%;
  display: flex;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  gap: 200px;
  cursor: pointer;

}

.reso p {
  border-left: 1px solid white;
  font-size: clamp(0.8rem, 0.7108rem + 0.4076vw, 1.2rem);
}

.footermain {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 3%;
}
.imagefootermain {
  display: flex;
  color: white;
  font-family: var(--thirdfont);

}

.arrowImg
 {
  height: 400px;
 }
.hoverImage{
  position: absolute;
  width: 15vw; /* Par exemple */
/* Ajuste la taille de l'image */
  height: auto;
  rotate: 20deg;
  pointer-events: none; /* Permet d'interagir avec d'autres éléments sous l'image */
  opacity: 0; /* Masque l'image par défaut */
  transition: opacity 0.3s ease; /* Animation de transition pour l'opacité */
}
.animhover{
  cursor: none;
  margin-top: 10%;
  overflow: hidden;
}
.animhover:hover .hoverImage {
  opacity: 0.8;
}


.imagetext{
  display: flex;
  gap: 50px;
  background-size: cover;
 overflow: hidden;

}

.videoContainer {
  width: 150px;
  height: 200px;
  overflow: hidden;
}

.videoMath {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imagetext {
  position: relative;
}

.imagetext img{
  height: 200px;
  width: 150px;
  object-fit: cover;
  cursor: pointer;
}

.galerieHoverImg {
  background-color: #200000;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  font-family: var(--secondaryfont);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s linear;
  &:hover {
    opacity: 0.8;
  }
}
.middleFooter {
  width: 50%;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  margin-bottom: -2%;
  opacity: 1;
  animation: opacityScroll;
  animation-timeline: view();
}


@keyframes opacityScroll {
  to {opacity: 0.2;}
}

.texticone {
  text-align: end;
  opacity: 0.8;
  overflow: hidden;
}

.texticone p{
  animation: startanim 1s ease forwards;
  animation-delay: 1.8s;
  transform: translateY(100%);
}

@keyframes startanim {
  to {
    transform: translateY(0%);
  }
}

.texticone span {
  font-family: var(--decofont);
  color: rgba(255, 51, 0, 0.8);
  font-size: 2rem;
 
}

.issou {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* .imagespan p{
  font-size: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;

} */

/* .imagetext:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  width: 60%;
  overflow: visible;
} */
/* .imagefootermain {
  font-size: 8rem;
  font-family: var(--secondaryfont);
} */

@media  screen and (max-width: 1280px) {
  .hoverImage {
    display: none;
  }

  .arrowImg {
    height: 300px;
  }
  .videoContainer {
    width: 130px;
    height: 180px;
  }

  .videoMath {
    width: 130px;
    height: 180px;
    object-fit: cover;
  }
  .imagetext img {
    width: 130px;
    height: 180px;
  }
}

@media  screen and (max-width: 900px) {
  .hoverImage {
    display: none;
  }

  .arrowImg {
    height: 300px;
  }

  .videoContainer {
    width: 110px;
    height: 160px;
  }

  .imagetext {
    gap: 40px;
  }
  .videoMath {
    width: 110px;
    height: 160px;
    object-fit: cover;
  }
  .imagetext img {
    width: 110px;
    height: 160px;
  }
}

@media  screen and (max-width: 480px) {
  .hoverImage {
    display: none;
  }

  .issou {
    display: none;
  }

  .issouDiv{
    display: none;
  }

  .arrowImg {
    height: 300px;
  }
  .videoContainer {
    width: 70px;
    height: 100px;
  }
  .imagetext {
    gap: 20px;
  }
  .videoMath {
    width: 70px;
     height: 100px;
    object-fit: cover;
  }
  .imagetext img {
    width: 70px;
     height: 100px;

  }
  .middleFooter {
    display: none;
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.issou{
  position: sticky;
  top: 0;
background-color: #000000;

/* Contour blanc */
}


.contact{ 
  animation: fadeIn;
  animation-timeline: view();
  animation-range-end: 800px;
}

@keyframes fadeIn {
  from { opacity: 0; scale: 0.5; }
  to { opacity: 1; scale: 1;}
}
